b/* src/pages/Dashboard.css */
.dashboard {
    font-family: Arial, sans-serif;
  }
  
  .dashboard-header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .dashboard-nav {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #e2e2e2;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .nav-item:hover {
    color: #007bff;
  }
  
  .nav-item span {
    margin-top: 5px;
  }
  